section.sedemo-miniherocta {
  background-color: #d5d5d5;
  padding: 4em 2em;
  box-shadow: 0 4px 24px #AAA;
  border-radius: 8px;
  background-size: cover;
  width: 100%;
  margin: 1em 0;

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    font-size: 1.75em;
    text-align: left;
    color: #FFF;
    font-weight: bold;
    text-shadow: 2px 2px 1px #000;
  }

  p {
    text-align: left;
    color: #FFF;
  }

  .glassy {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    border-radius: 8px;
    padding: 1em;
  }

  .button-63 {
    margin-top: 1em;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 0 3px 0 #000;
    
  }

  .button-63:hover {
    outline: 0;
    background-image: linear-gradient(144deg,#c16aff, #7c68ff 50%,#58f4ff);
  }

  .button-63:active {
    outline: 0;
    position: relative;
    top: 2px;
    box-shadow: 0 1px 0 #000;
  }

}
